{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% include 'base' %}
    {% include 'accounts/logout.html' %}
      <script type="text/javascript" src="{% static "scripts/upload.js" %}"></script>
      <script type="text/javascript" src="{% static "scripts/main_grid.js" %}"></script>

  </head>
  <body>

  </body>
</html>

