{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
     {% include 'base' %}
    {% include 'accounts/logout.html' %}
    <script type="text/javascript" src="{% static "scripts/upload.js" %}"></script>

</head>
<body>

</body>
</html>