{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
{% include 'base' %}
    <script type="text/javascript" src="{% static "scripts/auth_panel.js" %}"></script>
    <title></title>
</head>
<body style="background-image: url({% static "image/alfon.png" %})">
логин


</body>
</html>