<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% include 'base' %}
</head>
<body>
 <script type="text/javascript">
 Ext.require('Ext.form.*');
 Ext.onReady(function(){
     var logoutForm = Ext.create('Ext.form.Panel', {
         renderTo: Ext.getBody(),
         height: 30,
         width: '100%',
         buttons: [
             {  text: 'Log off',
                 left:'90%',
                 handler: function () {
                 document.location =('/accounts/logout');
                 }
             }
         ]
     });
});
 </script>
</body>
</html>